DEBUG=False
SECRET_KEY=replace-with-a-long-random-secret
ALLOWED_HOSTS=wever.ir,www.wever.ir
CSRF_TRUSTED_ORIGINS=https://wever.ir,https://www.wever.ir

SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

DJANGO_LOG_LEVEL=INFO
APP_LOG_LEVEL=INFO

GOOGLE_LOGIN_ENABLED=1

SMS_BACKEND=console
SMS_HTTP_ENDPOINT=
SMS_HTTP_TOKEN=
SMS_SENDER=

OTP_EXPIRY_MINUTES=3
OTP_RESEND_SECONDS=90
OTP_CODE_LENGTH=5
